<section class="favorite-container">
  <div class="title-section">
    <app-title title="Favoritos"></app-title>
  </div>

  <div class="not-found-section">
    <app-not-found
      *ngIf="!(favoritesCharacters$ | async)?.length"
      title="Parece que você ainda não tem favoritos"
      description="Volte à página inicial e escolha os melhores para você"
      [shouldShowButton]=true
      buttonText="Voltar ao início"
    ></app-not-found>
  </div>

  <div class="character-section">
    <app-card
      *ngFor="let character of favoritesCharacters$ | async"
      [character]="character"
    ></app-card>
  </div>
</section>
