<div class="card-container">
  <fa-icon
    [icon]="renderTheIconBasedOnFavorite()"
    [ngClass]="{ active: isIconActive() }"
    class="favorite-icon"
    (click)="toggleFavorite()"
  ></fa-icon>

  <img
    ngSrc="{{ character.image }}"
    width="224"
    height="224"
    class="character-img"
    mat-button
    (click)="openDialog()"
  />
  <div class="description">
    <h3 [class.expanded]="isExpanded" (click)="toggleNumberOfLines()">
      {{ character.name }}
    </h3>
    <p>{{ character.species }}</p>
    <p>{{ character.type }}</p>
  </div>
</div>
