@import "../../../color.verbals.scss";

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 1px solid $border;

  .character-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem 0.75rem 0 0;
  }
}

.favorite-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  color: $primary_text;
}

.favorite-icon.active{
  color: $black;
}

.description {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.25rem;

  background-color: $black;

  h3 {
    font-family: "Creepster";
    color: $primary_text;
    font-weight: 400;
    font-size: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    cursor: pointer;
  }

  h3.expanded {
    -webkit-line-clamp: 10;
  }

  p {
    font-family: "Poppins";
    color: $secondary_text;
    font-weight: 400;
    font-size: 1rem;
  }
}
