<header class="header-container">
  <img ngSrc="assets/images/svg/logo.svg" alt="Logo" width="114" height="64" priority 
  class="logo"
  (click)="this.navigate.handleNavigate({
    screen: '/',
  })" />

  <div class="toggle-container">
    <div
      class="toggle"
      [ngClass]="{ active: this.navigate.currentScreen === '/' }"
      (click)="this.navigate.handleNavigate({
        screen: '/',
      })"
    >
      <fa-icon [icon]="faHouse" class="toggle-icon"></fa-icon>
      <p class="toggle-text">Início</p>
    </div>

    <div
      class="toggle"
      [ngClass]="{ active: this.navigate.currentScreen === '/favoritos' }"
      (click)="this.navigate.handleNavigate({
        screen: '/favoritos',
      })"
    >
      <fa-icon [icon]="faHeart" class="toggle-icon"></fa-icon>
      <p class="toggle-text">Favoritos</p>
      <div class="badge">
        <p class="badge-text">{{ badgeNumber }}</p>
      </div>
    </div>
  </div>
</header>
