@import "../../../color.verbals.scss";

.input-form {
  flex: 1;
  width: 19.875rem;
  height: 3rem;
  border: 1px solid $border;
  padding: 12px;
  color: $primary_text;
  background-color: transparent;
  border-radius: 12px;

  &:focus {
    outline: none;
  }
}

@media (max-width: 471px) {
  .input-form {
    max-width: 14rem;
  }
}
